/* UNIVERSAL PROPERTIES  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER PROPERTIES  */
/* NAVBAR  */   
nav{
    height: 10vh;
    background-color: #ACA6A680;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-logo img{
    cursor: pointer;
}
.nav-main ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-main ul li{
    font-size: 1.2rem;
    cursor: pointer;
}
.nav-main ul li:hover{
    color: #F52C2C;
}
/* BANNER SECTION  */
.banner-section{
    height: 90vh;
    background:url("../asset/image/background.jpg"),linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-contents{
    width: 70%;
}
.banner-contents h1{
    font-size: 5.5rem;
    color: white;
}
.primary-color{
    color: #F52C2C;
}
.banner-contents p{
    color: white;
    font-size: 1.5rem;
    padding: 25px;
}
.banner-contents .btn{
    padding: 12px 30px;
    color: black;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
}
.redbtn{
    background-color: #F52C2C;
    color: white;
    margin-right: 10px;
}